<div style="display:flex; flex-direction:column; align-items:stretch; justify-content: space-between;">
  <div style="display:flex;flex-direction: row;">
    {{#if logged_in}} 
       <img src="/images/logo.svg" alt="logo image, colored triangle containing the text AMS">
     {{else}} 
       
     {{/if}} 
    
<h1 class="mac-t" style="align-items: end;display: flex;">
    Asset Management
</h1>
  </div>

<div class="header-nav-handle" style="display:flex;">{{!-- flex-direction:column; --}}
    <a class="css-button" href="/">Home</a>
     {{#if logged_in}} 
       <a class="css-button" href="/dashboard">Dashboard</a>
       <a class="css-button" href="" id="logout">Logout</a> 
     {{else}} 
       <a class="css-button" href="/login">Login</a>
       <a class="css-button" href="/sign-up">Signup</a> 
     {{/if}} 
</div>
</div>

{{#if logged_in}} 
<script src="/js/logout.js"></script>
{{/if}}
