<div style="display:flex; flex-direction:column; align-items:stretch; justify-content: space-between;">
<h1>
    Asset Management
</h1>
<div class="header-nav-handle" style="display:flex;flex-direction:column;">
    <a class="css-button" href="/">Home</a>
     {{#if logged_in}} 
       <a class="css-button" href="/dashboard">Dashboard</a>
       <a class="css-button" href="" id="logout">Logout</a> 
     {{else}} 
       <a class="css-button" href="/login">Login</a>
       <a class="css-button" href="/sign-up">Signup</a> 
     {{/if}} 
</div>
</div>

{{#if logged_in}} 
<script src="/js/logout.js"></script>
{{/if}}
