<nav>
  <ul style="list-style-type: none; padding-inline-start: 0px;">
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem" ><a class="css-button"  href="/dashboard">Dashboard</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem" ><a class="css-button"  href="/api/location/">Location</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem" ><a class="css-button"  href="/api/type/">Type</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem" ><a class="css-button"  href="#">User Settings (coming soon...)</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem" ><a class="css-button"  href="#">Contact</a></li>
  </ul>
</nav>