<nav>
  <ul style="list-style-type: none; padding-inline-start: 0px;">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/api/location/">Location</a></li>
    <li><a href="/api/type/">Type</a></li>
    <li><a href="#">User Settings (coming soon...)</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>