<nav>
  <ul class="mac-t" style="list-style-type: none; padding-inline-start: 0px;">
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem; display:flex; " ><a class="css-button" style="text-align:start; padding:0.25rem;border-radius:0.5rem;"  href="/dashboard">Dashboard</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem; display:flex; " ><a class="css-button" style="text-align:start; padding:0.25rem;border-radius:0.5rem;"  href="/api/location/">Location</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem; display:flex; " ><a class="css-button" style="text-align:start; padding:0.25rem;border-radius:0.5rem;"  href="/api/type/">Type</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem; display:flex; " ><a class="css-button" style="text-align:start; padding:0.25rem;border-radius:0.5rem;"  href="#">User Settings (coming soon...)</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem; display:flex; " ><a class="css-button" style="text-align:start; padding:0.25rem;border-radius:0.5rem;"  href="#">Contact</a></li>
    <li style="margin:1rem 0rem; padding:0.5rem 0.5rem; display:flex; " ><a class="css-button" style="text-align:start; padding:0.25rem;border-radius:0.5rem;"  href="/api/asset/create">New Asset</a></li>
  </ul>
</nav>