<nav>
  <ul style="list-style-type: none; padding-inline-start: 0px;">
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/api/location/">Location</a></li>
    <li><a href="#services">Type</a></li>
    <li><a href="#portfolio">User Settings</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>