<!-- Loop over each object in the asset array -->
<div>
<div>
<ul style="list-style-type: none; padding-inline-start: 0px;">
{{#each assets as |asset| }}
<li>
    {{asset.name}} {{asset.description}}
</li>
{{/each}}
</ul>
</div>
<div>
{{> vert-nav}}
</div>
</div>


