<div style=" text-align:center;font-weight:bolder; font-size: 3rem; background-color: blueviolet; display:flex;flex-grow:1; justify-content:center; align-items:center;">
    
    <div style="border-radius: 9rem; background-color:white">
      <img  src="/images/logo.svg" alt="image of an orange triangle with the letters AMS">   
    </div>
     
    
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div>