<div style=" text-align:center;font-weight:bolder; font-size: 3rem; background-color: blueviolet;">
    Landing Page
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div>