<!-- Loop over each object in the asset array -->
<div style="display: flex; flex-grow:1;">

<div style="flex-grow: 1;">
  <ul style="list-style-type: none; padding-inline-start: 0px;">
    <li class="animate__animated animate__backInLeft">
         <div class="create-btn cam" style="margin: 1rem 0rem; min-height:2rem; text-align:center;display:flex"; >
          <a href="/api/type/create" style="padding-left:1rem; background: none;border: none;padding: 0;cursor: pointer;text-decoration: none;font-size: 2rem;font-weight:bolder;display:flex;width:100%;min-height:2rem; align-items:center;margin-left:1rem;" >Create Type!</a>  
        </div>  
      
    </li>
    {{#each types as |type| }}
      <li class="animate__animated animate__backInUp">
        <div class=" mac" style=" margin: 1rem 0rem; min-height:2rem;"; >
          <a href="/api/type/{{type.id}}" class="a-ref-btn">
              <strong style="font-size: 2rem; padding-left:1rem;">{{type.description}}</strong>
          </a>
           
        </div>          
      </li>
    {{/each}}
  </ul>
</div>

<div style="flex-grow: 0.35;">
  {{> vert-nav}}
</div>

</div>

<script src="/js/type.js"></script>

{{!-- 


<!-- Loop over each object in the asset array -->
<div style="display: flex;">

<div style="flex-grow: 1;">
  <ul style="list-style-type: none; padding-inline-start: 0px;">
    {{#each types as |type| }}
      <li>
        <div style="background-color: aqua; margin: 1rem 0rem";>
          {{type.description}}
        </div>          
      </li>
    {{/each}}
  </ul>
</div>

<div style="flex-grow: 0.35;">
  {{> vert-nav}}
</div>

</div> --}}


