<!-- Loop over each object in the asset array -->
<div style="display: flex;">

<div style="flex-grow: 1;">
  <ul style="list-style-type: none; padding-inline-start: 0px;">
    {{#each types as |type| }}
      <li>
        <div style="background-color: aqua; margin: 1rem 0rem";>
          {{type.description}}
        </div>          
      </li>
    {{/each}}
  </ul>
</div>

<div style="flex-grow: 0.35;">
  {{> vert-nav}}
</div>

</div>


