:root{
--main-mid-l:#CBF3D2;
--main-bg-color:#B7C0EE;
--main-mid:#7067CF;
--main-acset-color:#7B287D;
--main-color:#330C2F;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  html{
    background-color: var(--main-bg-color);
    /* font-family: ''; */
    /* font-family: 'Tilt Neon', cursive; */
  }
  .a-ref-btn{
    padding-left:1rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--main-mid-l);
    text-shadow: var(--main-mid);
    text-decoration: none;
    font-size: 2rem;
    font-weight:bolder;
    display:flex;
    width:100%;
    min-height:2rem;
    align-items:center;
    margin-left:1rem;
    border-radius: 1rem;
  }

  #logo-order{
    flex-direction: column;
  }
  #logo-order h1{
    margin: 0.5rem 0rem;
    padding-left: 2rem;
  }
  .header-nav-handle{
    flex-direction: column;
  }
  .border h2{
    padding-left: 1rem;
  }
  .border .asset{
    padding: 0.75rem;
  }
  .header-nav-handle a{
    margin: 0.25rem 0rem;
    background-color: var(--main-mid);
    border-radius: 0.5rem;
    box-shadow: var(--main-acset-color);
  }

  .css-button {
    background-color: var(--main-mid);
    border: none;
    padding: 0.5rem 0 0.5rem 0;
    cursor: pointer;
    color: var(--main-bg-color);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bolder;
    width: 100%;
    margin: auto;
    border:0.25rem solid var(--main-mid);

  }
  
  .css-button:hover {
    color: var(--main-mid-l);
    text-decoration: none;
  }
  .header-nav-handle .css-button{
    width: unset;
  }
  .form-group{
    margin: 1rem 0rem;
  }
  .mac{
    color:var(--main-bg-color); 
    background-color: var(--main-color);
    border-radius: 2rem;
  }
  .cam{
    color:var(--main-color); 
    background-color: var(--main-mid-l);
    border-radius: 2rem;
  }
  .btn-primary{
    background-color: var(--main-bg-color);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    min-height: 4rem;
    width: 100%;
  }
  

  .mac-t{
    color:var(--main-color); 
    
  }
  .bright{
    background-color: var(--main-mid-l);
    border-radius: 2rem;
  }
  .match-main{
    background-color: var(--main-bg-color);
  }
  .sh{
    box-shadow: var(--main-mid-l) 0.25rem 0.25rem;
  }
  /* .btn{
    width: 100%;
  } */

  @media screen and (min-width:667px){
    #logo-order{
      flex-direction: row;
    }
    .header-nav-handle{
      flex-direction: row;
    }
    .header-nav-handle a {
      margin: 0.25rem 0.25rem;
  }
  .header-nav-handle .css-button{
    width: 100%;
  }
  }